$colors: (
  common: (
    white: #ffffff,
    black: #000,
    placeholder: #a0a0a0,
    placeholder-2: #b2b2b2,
    heading: #1c1d1b,
    body-text: #777777,
  ),
  theme: (
    // 1: #699C47,
    1: #4db887,
    2: #f8a231,
    3: #eeaa36,
    4: #e66d6d,
    5: #af6c1f,
    6: #bb3e04,
  ),
  text: (
    1: #ebebeb,
    2: #6aaa2b,
    3: #707070,
    4: #80b500,
    // 5:#699C47,
    5: #4db887,
    6: #9b9b9b,
    7: #9f9f9f,
    8: #777777,
  ),
  bg: (
    grey: #f8f8f8,
    grey-2: #f7f5f2,
    grey-3: #f6f4f0,
    grey-4: #d6d6d6,
    turquoise: #0097b2,
  ),
  border: (
    1: #e5ddd9,
    2: #e2e2e2,
    3: #e5ddd9,
    4: #f2f2f2,
    5: #78a55a,
    6: #9b9b9b,
    7: #d4d4d4,
    8: #efefef,
    9: #9b9b9b,
    10: #aeaeae,
    11: #8ab46e,
    12: #eaebee,
    13: #dbdbdb,
    14: #cccccc,
    15: #dcdcdc,
    16: #e3e3e3,
    17: #edeef2,
    18: #efefef,
    19: #ececec,
  ),
  footer: (
    1: #e5ddd9,
    2: #e5ddd9,
    3: #e5ddd9,
  ),
);
